{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
                                       
    
{% for photo in product.getPhotos() %}    

      <img alt="Embedded Image" src="{{asset(photo) }}" />  

{% endfor %}

    <h2><span>$</span>{{product.price}}</h2>
    <p>{{product.name}}</p>
    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

<div class="product-overlay">
    <div class="overlay-content">
        <h2><span>$</span>{{product.price}}</h2>
        <p>{{product.name}} </p>
        
    
    </div>
</div>



{% endblock %}
