{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


<section>
    <div class="container">
        <div class="row">
            
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>List of Categorys</h2>
                     {% for category in categorys %}
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
                                        <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                                        <a href ="{{path('products_category',{'id':category.id})}}"> {{ category.name }}  </a>                                 
                                    </a>
                                 </h4>
                            </div>
                  
                        </div>
                    </div>
                   {% endfor %}     
                     
                </div>
            </div>
            
            
            <div class="col-sm-9 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    {% for product in categorie.products %}
                    <div class="col-sm-4">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                    <div class="productinfo text-center">
                                       
                                        
                                      
                                    {% set photo = product.getPhotos() %}    
                                    
                                    <img alt="Embedded Image" src="{{asset(photo[0]) }}" />  
                                     
                                    
                                        <h2><span>$</span>{{product.price}}</h2>
                                        <p>{{product.name}}</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                        <a href="{{path('details_product',{'id':product.id})}}" class="btn btn-primary">Savoir plus</a>
                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2><span>$</span>{{product.price}}</h2>
                                            <p>{{product.name}} </p>
                                            <a href="{{path('cart_add',{'id':product.id})}}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                                             <a href="{{path('details_product',{'id':product.id})}}" class="btn btn-primary">Savoir plus</a>
                                        </div>
                                    </div>
                            </div>
                            
                        </div>
                    </div>
                  {% endfor %}  
                    
                    
                    
           
        </div>
    </div>
</section>
{% endblock %}
