{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}



<h2>Category</h2>
    {% for category in categorys %}

  <a href ="{{path('products_category',{'id':category.id})}}"> {{ category.name }}  </a>                                
   {# <a href ="{{path('products_category')}}/{{category.id}}"> {{ category.name }}  </a>   #}            
            
{% endfor %}     
                     
               
{% endblock %}
